.mapWrapperAcc {
  font-family: 'Source Sans Pro', sans-serif;
  margin-top:5px;
  position: absolute;
  background: #080C16;
  z-index: 10;
  width: 100%;
  height: calc(100vh - 30px);
}
#mapBefAcc {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    width: calc(50vw - 11px);
    height: 100%;
    z-index: 0;
    cursor: pointer;
  }
  #mapAftAcc {
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: calc(50vw - 11px);
    height: 100%;
    z-index: 0;
    cursor: pointer;
    right: 0px;
  }

  #acc-wrapper {
    background: rgba(0,0,0,0.5);
    position: absolute;
    left: 33%;
    transform: translateX(50%);
    top: 150px;
    bottom: 60%;
    padding: 6px;
    width: 350px;
    z-index: 3;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  #overallSummary {
    height: 10%;
    flex-direction: column;
    justify-content: space-around;
  }
  #overallTitle {
    align-items: center;
    font-size: 15px;
    font-weight: 600;
    color: white;
    text-align: center;
    margin-top: -13px;
  }
  #overallSmallText{
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 12px;
    font-weight: 200;
    color: white;
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  #overallValue {
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 25px;
    font-size: 36px;
    font-weight: 600;
    color: white;
    height: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .overallDescript {
    align-items: center;
    font-size: 16px;
    margin-top: 5%;
    margin-left: 4px;
    margin-right: 4px;
    font-weight: 200;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }


  #filter-wrapper-Acc {
    position: absolute;
    left: 20px;
    top: 130px;
    font-weight: 500;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-shadow: 2px 2px 4px #000000;
    z-index: 10;
  }

  .sessionAcc_trip {
    width: 165px;
    color: white;
    font-size: 14px;
  }
  .sessionAcc_meas {
    color: white;
    font-size: 14px;
  }

.legend-box{
  position: absolute;
  left: 20px;
  bottom: 5vh;
  width: 310px;
  height: 260px;
  color: white;
  font-weight: 500;
  background-color: black;
  opacity: 0.4;
  border-radius: 10px;
}
.legend-wrapper{
    position: absolute;
    left: 20px;
    bottom: 10vh;
    width: 310px;
    height: 240px;
    color: white;
    font-weight: 500;
    border-radius: 10px;
}
.legendTitle{
  position: relative;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 14px;
  text-align: left;
}
.legendBoxes{
  position: relative;
  padding-left: 10px;
}
.legendBox{
  margin-top: 5px;
  width: 16px;
  height: 16px;
  border-radius: 4px;
  background-color: black;
}
.legendText{
  position:absolute;
  line-height: 9.5px;
  font-size: 12px;
  top: 90px;
  margin-top: 2px;
  margin-left: 40px;
  color: white;
  font-weight: 500;
  text-align: left;
  flex-direction: column;
}

.sliderContainer {
  color: white;
  margin-top: 10px;
}
.sliderAccContentAbsolute {
  position: absolute;
  width: 230px;
  font-size: 14px;
  font-weight: 300;
  color: white;
}
.sliderAccContentRelative {
  position: absolute;
  width: 230px;
  font-size: 14px;
  font-weight: 300;
  color: white;
}
.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 7px;
  border-radius: 5px;
  background: #9c9c9c;
  outline: none;
  opacity: 1;
}
.slider:hover {
  opacity: 1;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 20px; /* Set a specific slider handle width */
  height: 20px; /* Slider handle height */
  border-radius: 50%;
  background: #ffffff; /* Green background */
  cursor: pointer; /* Cursor on hover */
}
