.mapWrapperEqu {
  font-family: 'Source Sans Pro', sans-serif;
  margin-top:5px;
  position: absolute;
  background: #080C16;
  z-index: 10;
  width: 100%;
  height: calc(100vh - 30px);
}
#mapBefEqu {
    position: absolute; 
    top: 0px;
    bottom: 0px;
    left: 0px;
    width: calc(50vw - 11px);
    height: 100%;
    z-index: 0;
    cursor: pointer;
}
#mapAftEqu {
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  width: calc(50vw - 11px);
  height: 100%;
  z-index: 0;
  cursor: pointer;
}

#filter-wrapper-Equ {
  position: absolute;
  left: 20px;
  top: 110px;
  font-weight: 500;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-shadow: 2px 2px 4px #000000;
  z-index: 10;
}

.sessionEqu_demand {
  width: 205px;
  color: white;
  font-size: calc(1rem);
}
.sessionEqu_unit {
  width: 150px;
  color: white;
  font-size: calc(1rem);
}
.sessionEqu_trip {
  width: 165px;
  color: white;
  font-size: calc(1rem);
}
.sessionEqu_meas {
  color: white;
  font-size: calc(1rem);
}
.sliderContainerEqu {
  color: white;
  margin-top: 4px;
}

.sliderEquContentAbsolute {
  position: absolute;
  width: 230px;
  font-size: calc(1rem);
  font-weight: 300;
  color: white;
}
.sliderEquContentRelative {
  position: absolute;
  width: 230px;
  font-size: calc(1rem);
  font-weight: 300;
  color: white;
}
.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 7px;
  border-radius: 5px;
  background: #9c9c9c;
  outline: none;
  opacity: 1;
}
.slider:hover {
  opacity: 1;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 20px; /* Set a specific slider handle width */
  height: 20px; /* Slider handle height */
  border-radius: 50%;
  background: #ffffff; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

#legend-wrapper {
  position: absolute;
  height: 40%;
  width: 230px;
  bottom: 10px;
  left: 10px;
  font-weight: 500;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-shadow: 2px 2px 4px #000000;
}
.legendInfo {
  position: absolute;
  bottom: 25px;
  right: 10px;
  z-index: 30;
}

#plot-wrapper {
  background: rgba(0,0,0,0.5);
  position: absolute;
  left: 33%;
  transform: translateX(50%);
  top: 135px;
  bottom: 4%;
  padding: 6px;
  width: 360px;
  z-index: 3;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#gapSummary {
  height: 12%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#scatterPlot {
  height: 32%;
}
#giniSummary {
  height: 20%;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#lorenzCurve {
  height: 34%;
}
#gapTitle {
  align-items: center;
  font-size: calc(1rem + 0.2vw);
  font-weight: 300;
  color: white;
  text-align: center;
  margin-bottom: -20px;
}
#gapSmallText {
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  font-size: calc(1rem);
  font-weight: 500;
  color: white;
  height: 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#gapValue {
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  font-size: calc(2rem);
  font-weight: 600;
  color: white;
  height: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#giniTitle {
  align-items: center;
  font-size: calc(1rem + 0.2vw);
  font-weight: 300;
  color: white;
  text-align: center;
  margin-top: 0px;
  margin-bottom: -20px;
}
#giniSmallText {
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  font-size: calc(1rem);
  font-weight: 500;
  color: white;
  height: 15%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#giniValue-wrapper { 
  height: 65%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 30px;
  margin-top: 5px;
}
#giniValue {
  padding-left: 10px;
  padding-right: 10px;
  font-size: calc(2rem);
  font-weight: 600;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.button {
  color: #fff;
  text-decoration: none;
  z-index: 25;
  font-family: monospace;
}
.material-symbols-outlined {
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease-out;
  font-variation-settings:
  'FILL' 0,
  'wght' 300,
  'GRAD' 0,
  'opsz' 48
}
.material-symbols-outlined:hover {
  background: #ffd752;
  color: #000000;
  border-radius: 50%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  z-index: 20;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}
.popup {
  top: 15%;
  left: calc(58% + 170px);
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid white;
  border-radius: 10px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
  z-index: 25;
  flex-direction: row;
}
.popup .close {
  position: absolute;
  top: 10px;
  right: 20px;
  transition: all 200ms;
  font-size: calc(2rem);
  font-weight: bold;
  text-decoration: none;
  color: white;
}
.popup .close:hover {
  color: #ffd752;
}
.popup .content {
  margin-top: -35px;
  margin-right: 10px;
  margin-bottom: 10px;
  overflow: auto;
  line-height: 1.5;
  font-size: calc(1rem);
  text-align: left;
}

.popup .title {
  position: relative;
  width: 100%;
  top: -60px;
  font-size: calc(1rem);
  font-family: "hepta Slab";
  color: white !important;
  overflow: visible;
}
